#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 90px 600px;
    grid-template-areas: 
        'header'
        'main'
        'section';
    font-family: 'Ubuntu', sans-serif;

}
  
header {
    grid-area: header;
    background-color: black;
    color: white;
    position: relative;
}

header h1 {
    text-align: center;
    position: absolute;
    top: 5px;
    left: 250px;
}

#search-bar {
    position: absolute;
    top: 15px;
    right: 40px;
    display: flex;
    align-items: center;
    background-color: #2E419F;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0rem #4A68FF;
    font-size: 25px;
}

#search {
    background-color: #2E419F;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 100px;
    padding-bottom: 13px;
    padding-top: 13px;
}

#lastpage {
    position: absolute;
    padding: 15px;
    left: 50px;
    top: 10px;
    background-color: #ccf2ff;
    font-size: 30px;
}

#lastpage:hover {
    background-color: #678690;
}

#house {
    position: absolute;
    padding: 15px;
    left: 150px;
    top: 10px;
    background-color: #ccf2ff;
    font-size: 30px;
}

#house:hover {
    background-color: #678690;
}

main {
    grid-area: main;
    background-color: #1C2760;
    color: whitesmoke;
    position: relative;
}

main table {
    position: absolute;
    left: 280px;
    top: 5px;
}

main table th {
    margin-top: 0px;
    border-style: groove;
    border-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    background-color: #4A68FF;
}

section {
    grid-area: section;
    background-color: #4AC2FF;
    position: relative;
}

section h2 {
    text-align: center;
    font-size: 30px;
}

section ul {
    position: absolute;
    left: 500px;
    font-size: 20px;
    color: whitesmoke;
    background-color: #4A68FF;
    padding-top: 20px;
    padding-right: 20px;
    border-style: groove;
    border-color: aliceblue;
}

section ul li {
    padding-bottom: 20px;
}
