#container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 800px;
    grid-template-areas:
        'header meal'
        'ingredientes preparacao'
}

header {
    grid-area: header;
    position: relative;
}

#receita {
    position: absolute;
    top: 30px;
    left: 110px;
}

#meal {
    position: relative;
    grid-area: meal;
}

#meal th form {
    position: absolute;
    top: 12px;
    left: 80px;
}

#conf {
    position: absolute;
    top: 35px;
    right: 50px;
    padding: 10px;
}

#ingredientes {
    grid-area: ingredientes;
}

#ingredientes ul {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#ingredientes ul li {
    padding: 7px;
}

#encomendar {
    position: absolute;
    left: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

#preparacao {
    position: relative;
    grid-area: preparacao;
}

#preparacao h3 {
    text-align: center;
}

#preparacao button {
    position: relative;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 15px;
}

#preparacao p {
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px 0 30px 10px;
}