#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 500px;
    grid-template-areas: 
        'header'
        'main';
}

header {
    grid-area: header;
    position: relative;
}

#lastpage {
    position: absolute;
    padding: 15px;
    left: 100px;
    top: 40px;
}

#house {
    position: absolute;
    padding: 15px;
    left: 200px;
    top: 40px;
}

#title {
    position: absolute;
    padding: 15px;
    left: 650px;
    top: 20px;
}

#titulo {
    position: absolute;
    left: 500px;
    top: 60px;
}

main {
    grid-area: main;
    position: relative;
}

main h1 {
    position: absolute;
    left: 585px;
    top: 75px;
}

#agendarEncomenda {
    position: absolute;
    left: 520px;
    top: 230px;
    font-size: 25px;
}

#dataEncomenda {
    position: absolute;
    top: 225px;
    left: 760px;
    padding: 5px;
}

#encomendar {
    position: absolute;
    top: 320px;
    left: 625px;
    padding: 10px;
}