header {
    background-color: #1C2760;
}

body {
    background-color: #4AC2FF;
}

#lastpage {
    background-color: #ccf2ff;
    font-size: 30px;
}

#lastpage:hover {
    background-color: #678690;
}

#house {
    background-color: #ccf2ff;
    font-size: 30px;
}

#house:hover {
    background-color: #678690;
}

#cart {
    background-color: #ccf2ff;
    font-size: 30px;
}

#cart:hover {
    background-color: #678690;
}

#title {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.product-header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

#encomenda {
    background-color: #ccf2ff;
    font-size: 18px;
}

#encomenda:hover {
    background-color: #678690;
}