#container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 50%;
    grid-template-areas: 
        'header header'
        'mid mid'
        'left right';
}

header {
    grid-area: header;
    position: relative;
}

#lastpage {
    position: absolute;
    padding: 15px;
    left: 100px;
    top: 30px;
}

#house {
    position: absolute;
    padding: 15px;
    left: 200px;
    top: 30px;
}

#cart {
    position: absolute;
    padding: 15px;
    left: 300px;
    top: 30px;
}

/*search bar*/
#search-bar {
    position: absolute;
    padding: 20px;
    left: 450px;
    top: 30px;
    display: flex;
    align-items: center;
    background-color: #2E419F;
    color: white;
    justify-content: space-between;
    padding-right: 400px;
    padding-bottom: 13px;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0rem #4A68FF;
    font-size: 25px;
}

input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 500px;
    border: none;
    outline: none;
    font-size: 23px;
    background-color: #2E419F;
    color: white;
}
   
::placeholder {
    color: white;
    opacity: 70%;
}

#mid {
    grid-area: mid;
}

#promos {
    height: 100%;
    width: 100%;
}

.texto-promos {
    position: absolute;
    top: 71.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}