header {
    background-color: #1C2760;
}

body {
    background-color: #4AC2FF;
}

#lastpage {
    background-color: #ccf2ff;
    font-size: 30px;
}

#lastpage:hover {
    background-color: #678690;
}

#house {
    background-color: #ccf2ff;
    font-size: 30px;
}

#house:hover {
    background-color: #678690;
}

.cart {
    background-color: #ccf2ff;
    font-size: 30px;
}

.cart:hover {
    background-color: #678690;
}

#left {
    font-family: 'Ubuntu', sans-serif;
    background-color: #4AC2FF;
}

#right {
    font-family: 'Ubuntu', sans-serif;
    background-color: #4AC2FF;
    font-size: 30px;
}

.carrinho {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    background-color: #ccf2ff;
}

.carrinho:hover {
    background-color: #678690;
}